venv/
__pycache__/
*.pyc
.DS_Store

.ipynb_checkpoints/
**/.ipynb_checkpoints/

data/raw/
data/processed/
data/uploads_streamlit/

reports/figures/
reports/outputs/*
!reports/outputs/daftar_fitur_intelligence_v2.json
!reports/outputs/metadata_phishrisk_engine_v3.json
!reports/outputs/metadata_step10_cli_utility.json

models/*
!models/model_terbaik_intelligence_v2.pkl

*.log
.env
.env.*
!.env.example
data/threat_cache/
